.cardContainer {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #EAEBF0;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 10px;
    padding: 20px;
}

.lists {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    flex: 1;
    /* background-color: red; */
}

.listHeader {
    font-weight: 500;
    font-size: 16px;
}

.listPrice {
    font-weight: 600;
    font-size: 20px;
}

.listBg {
    font-weight: 500;
    font-size: 13px;
    color: #E2341D;
    background: #FFF2F0;
    border-radius: 5px;
    width: 62px;
    height: 22px;
    padding: 2px 8px;
    margin-right: 3px;
}

.listMonth {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
}

.imgFill {
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-top: 55px;
}